.container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  //   border: 2px solid black;
  width: 80%;
  max-width: 1150px;
  left: 50%;
  transform: translateX(-50%);
  //   margin-top: -5%;
  z-index: 100;
  padding: 1rem;
  border-radius: 1rem;
  // position: relative;
  top: 180px;
  background-color: white;
  box-shadow: 1px 1px 20px rgb(101, 101, 101);
  @media screen and (max-width: 768px) {
    top: 200px;
  }
  @media screen and (max-width: 550px) {
    flex-direction: column;
    top: 180px;
    width: 65%;
  }

  .section {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 1rem;
    align-items: start;

    @media screen and (max-width: 768px) {
      font-size: 0.8rem;
    }
    @media screen and (max-width: 550px) {
      align-items: center;
      padding: 0 2rem;
      width: 100%;
    }

    .header {
      color: gray;
      font-family: "Rubik", sans-serif;
      font-size: 12px;
      @media screen and (max-width: 768px) {
        font-size: 0.6rem;
      }
    }
    .text {
      height: 80px;
      display: flex;
      justify-content: start;
      align-items: center;
      padding: 12px 0;
      width: 100%;
      border-right: 1px solid rgb(203, 203, 203);
      padding-right: 1rem;
      font-weight: 600;
      font-size: 18px;
      overflow: hidden;

      @media screen and (max-width: 768px) {
        font-size: 0.8rem;
        height: 60px;
      }
      @media screen and (max-width: 550px) {
        padding: 2px 0;
        border-right: 0;
        padding-right: 0rem;
        justify-content: center;
        text-align: center;
      }
    }
    .last {
      border: none;
    }
  }
}
